    <style>
        button {
            width: 100%;
            height: 200px;
            background-color: white;
        }
    </style>
   <div id="Ndiv"  style="margin-top:30%; height:75%;" class="row col-10 offset-1">
    <div id="Ndiv" class="col-6">
        <button id="volun"  class="btn">
            <h3 class="display-8">I am a Volunteer</h3>
        </button>
    </div>
    <div id="Ndiv" class="col-6 ">
        <button id="admin"   class="btn">
            <h3 id="admin" class="display-8">I am an Admin</h3>
        </button>
    </div>
    </div>

    <div id="adminLogin">
    </div>
    <script>
        $("button").click(function(e){
            $("button").hide();
            if(e.target.id == "admin"){
                if (<%=admin_signed_in?=%>) {
                    window.location = "/admins/dashboard";
                 }else
                window.location = "/admin/sign_in";
            }else{
                if (<%=volunteer_signed_in?=%>) {
                    window.location = "/volunteers/home"
                }
                else
                window.location = "/volunteer/sign_in";
            }
            
        });

    </script>