<style>
background {
    width: 100%;
}
.welcome {
	padding: 20px;
	border-radius: 15px;
	margin-left: 20%;
	text-align: center;
	color: white;
	background-color: #00467f;
	height: 80px;
	width: 400px;

}
button {
    height: 200px;
    width: 300px;
    margin-top: 20px;
    background-color: white;
    
} h1 {
    font-size: 25px;
}
button[name="report"], button[name="registers"] {
    margin-top: 8%;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div id="container" style= "margin-top: 10%; " id="Ndiv" class="col-10 offset-1 offset-lg-2">

	<h2 class="welcome">Welcome, <%= current_volunteer.firstName =%></h2>
        
            <button id="hours" class = "btn  col-4 col-lg-3">
               <h1 id="hours" >View Hours Worked</h1>
            </button>
    
      
            <button id="info" name="info" class = "btn btn-lrg col-4 col-lg-3">
                <h1 id="info" >Edit Info/Availability</h1>
            </button>

            <button id="cal" name="cal" class = "btn btn-lrg col-4 col-lg-3 ">
                <h1 id="cal" >Volunteering Sign Up</h1>
            </button>
       
</div>

<script>

$("button").click(function(e){
    $("#container").hide();
   switch(e.target.id){
       case "hours":
           window.location = "hoursworked";
           break;
        case "info":
           window.location = "descriptions";
           break;
        case "cal":
           window.location = "../events";
           break;
        case "empty":
            $("#results").html(" ");
            $("#container").show();
            break;

   }
});
</script>