<style>
background {
    width: 100%;
}
.welcome {
  padding: 10px;
  border-radius: 15px;
  margin-left: 20%;
  text-align: center;
  color: white;
  background-color: #00467f;
  height: 80px;
  width: 400px;

}
button {
    height: 200px;
    width: 300px;
    margin-top: 20px;
    background-color: white;

} h1 {
    font-size: 25px;
}
button[name="report"], button[name="registers"] {
    margin-top: 8%;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div id="container" style= "margin-top: 10%; " id="Ndiv" class="col-10 offset-1 offset-lg-2">
  <h2 class="welcome">Welcome Admin</h2>

            <button id="volunteer" class = "btn  col-5 col-lg-4">
               <h1 id="volunteer" >Volunteers</h1>
            </button>


            <button id="loghours" class = "btn col-5  col-lg-4 offset-1 ">
               <h1 id="loghours">Log Hours</h1>
            </button>


            <button id="register" name="registers" class = "btn col-5 col-lg-4">
                <h1 id="register">Register Volunteers</h1>
            </button>


            <button id="reports" name="report" class = "btn btn-lrg col-5 col-lg-4 offset-1">
                <h1 id="reports" >Reports</h1>
            </button>

</div>

<script>

$("button").click(function(e){
    $("#container").hide();
   switch(e.target.id){
       case "volunteer":
           window.location = "volunteers";
           break;
        case "loghours":
           window.location = "/hours/new";
           break;
        case "register":
           window.location = "register";
           break;
        case "reports":
            window.location = "reports";
            break;
        case "empty":
            $("#results").html(" ");
            $("#container").show();
            break;

   }
});
</script>
