
<style>
#cal-back {
    background-color: white;
    margin-top: 10%;
}
</style>
<div id="cal-back" class="jumbotron col-10 offset-1">
<div id="calendar"></div>
</div>
<script>
    $('#calendar').fullCalendar({});
</script>