<div class="row col-10 offset-2">
<div class="col-4">
    <h2>Slot 1</h2>
    <div id = "name1">
    names go here
    </div>
</div>
<div class="col-4">
    <h2>Slot 2</h2>
    <div id = "name2">
    and here
    </div>
</div>
</div>
