<h1>Editing Volunteer Description</h1>

<%= render 'form', volunteer_description: @volunteer_description %>

<%= link_to 'Show', @volunteer_description %> |
<%= link_to 'Back', volunteer_descriptions_path %>
